.s-catalog {
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}

.s-catalog-filter{
	padding-top: 40px;
	padding-bottom: 20px;
}
.filter-btn{
	display: inline-block;
	cursor: pointer;
	margin-bottom: 20px;
	position: relative;
	&__input{
		@extend .invis;
	}
	&__text{
		display: block;
		text-align: center;
		border-radius: 4px;
		border: 2px solid #ffffff;
		background-color: #ebebeb;
		color: #707070;
		padding: rem(5) rem(40);
		@include mt;

	}
	&__text:hover{
		// border: 2px solid $primary;
		// color: $body-color;
// background-color: #ebebeb;
	}
	&__input:checked + &__text{
		border: 2px solid $primary;
		color: $body-color;
background-color: #ebebeb;
&::after{
	content: url(../img/close.svg);
	position: absolute;
	@include a-cent(y);
	right: 10px;
	margin-top: -1px;
}
	}
}