.modal-win {
	display: block;
	position: relative;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	border-radius: 10px;
	.form-wrap{
		&__img-wrap{
			border: 1px solid #b7b7b7;
			padding: 5px;
			margin-bottom: 20px;
			&--uzor{
				max-width: 70px;
			}
		} 
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}
  
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;
	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) { 
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;
		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

.modal-form-pole{
	@include media-breakpoint-up(lg) {

		max-width: 720px;
	}
	max-width: 440px;
	.form-wrap__input-wrap{
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
		// width: 283px;
	}
	.row{
		@include roww(0);
	}
}
.poleChudes{
	@include media-breakpoint-up(lg) {

		width: 440px;
	}
	background-image: url(../img/pole-bg.jpg);
	height: 100%;
	background-position: bottom right;
	background-size: cover;
	background-repeat: no-repeat;
	@include media-breakpoint-up(sm) {

		padding-left: 33px;
		padding-right: 10px;
	}
	padding-left: 10px;
	padding-top: 10px;
	position: relative;
	
	&::before{
		@include media-breakpoint-up(sm) {
			content: url(../img/YACUBOVICH.png);
			position: absolute;
			bottom: 25px;
			pointer-events: none;
		}
		@include media-breakpoint-up(lg) {

			right: -40px;
		left: auto;
		}
		left: 260px;

	}
	&__baraban{
		max-width: rem(280);
		&-img{
			position: relative;
			>img{

			}
			&--active{
				
			}
			
		}
	}
	  &__aniumante-block--active{
		animation:  baraban ease-in-out 5s ;

	}
	&__aniumante-block{
		width: 260px;
		height: 260px;
		// transform: rotate(10deg);
		&.wrapper{

			border-radius: 50%;
			overflow: hidden;
			transition:  1s ease-in-out;
			border: 8px solid #ccc;
			border-radius: 50%;
			position: relative;
			overflow: hidden;
			box-shadow:  0 5px 10px rgba($color: #000000, $alpha: .5);
		}
		.sector{
			
			// box-shadow:  -2px 0px 5px rgba($color: #fff, $alpha: 1.0);
			position: absolute;
			transform-origin: 100% 100%;
			span{
				display: block;
				position: relative;
				transform:  rotate(106deg)  ;
				text-transform: uppercase;
				font-weight: bold;
				
			}
			&__wrap{
				position: relative;
				transform-origin: 0 0;
				display: block;
				transform:    skew(-60deg);

				}
			background: #fff;
			width: 125px;
			height: 125px;
			margin-top: -125px;
			margin-left: -125px;
			padding-top: 87px;
			padding-left: 68px;
			font-size: 12px;
			text-align: center;
			line-height: 1;
			left: 50%;
			top: 50%;
			// overflow: hidden;
			// border: 1px solid #999;
			&:nth-child(odd){
				background-color: #000000;
				color: #ffffff;
			}
		}
	}
	
@keyframes baraban {
  0% {
    transform: rotate(0);
  }
	
  100% {
		transform: rotate(360deg);
    // background: green;
  }
}
	&__baraban-arrow{
		@include a-cent;
		margin-top: rem(-15);
		margin-left: rem(-5);
	}
	&__block-result{
		height: 50px;
		border-radius: 6px;
		max-width: 320px;
		margin-right: 10px;
		display: flex;
		background-color: #ffffff;
		font-weight: bold;
		// margin-bottom: 30px;
		
		margin-top: 30px;
		margin-bottom: 30px;
		&-text{
			color: $primary;
			flex-grow: 1;

		}
		&-text,
		
		&-btn{
			display: flex;
			align-items: center;
			justify-content: center;
			@include media-breakpoint-up(sm) {

				font-size: 20px;
			}
			font-size: 16px;
		}
		&-btn{
			@include media-breakpoint-up(sm) {

				width: 137px;
			}
			padding-left: 10px;
			padding-right: 10px;
			border-radius: 6px;
			color: #ffffff;
			background-color: $primary;
		}
	}
}

.form-wrap__pole-title{
	margin-top: 20px;

	padding: rem(20) rem(40);
	color: #ffffff;
	text-align: center;
	font-size: rem(26);
	background-color: $primary;
	max-width: 567px;
	margin-left: -20px;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		left: 0;
		top: 100%;
		@include triangle(20px 40px, #9a0d0f, up-right);
	}

}
