
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	+form-wrap()(id="modal-thanks" class="zoom-anim-dialog mfp-hide modal-win modal-form text-center" )
		img.mt-5.mb-3(src="img/checked.png", alt="") 
		br
		.h1.fw-500.text-primary Спасибо за заявку!
		br
		p Наш специалист свяжется с Вами
			br
			| в ближайшее время
		br 

	+form-wrap()(id="modal-call" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.head Закажите Ворота сейчас! 
		+e.body
			+input('Имя','text','Введите имя')
			+input('Телефон','tel','+7 (___) ___-__-__')
			+polite
			+e.btn(type='submit') Заказать
			.small.text-primary.pt-2.text-center  Сегодня оформили заявку 
				|
				| 
				strong 4 клиента
	// #modal-call
	
	+form-wrap()(id="modal-order" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.head оформление заявки
		+e.body--lg
			p Пожалуйста, заполните поля ниже
			.row
				.col-sm-6
					+input('Имя','text','Введите имя')
				.col-sm-6
					+input('Телефон','tel','+7 (___) ___-__-__')
				.col-sm-12
					.ttu.strong.mb-3  Пожалуйста, заполните поля ниже
				.col-sm-6
					+e.img-wrap
						img.res-i(src="img/category-1.jpg", alt="")
				.col-sm-6
					+e.img-wrap--uzor
						img(src="img/211.png", alt="")
					.mb-1 Наименование
					.strong Ворота из профнастила №12
			+polite
			+e.btn(type='submit') Заказать
			.small.text-primary.pt-2.text-center Сегодня оформили заявку 
				|
				| 
				strong 4 клиента
	// #modal-order
	
	+form-wrap()(id="modal-gift" class="zoom-anim-dialog mfp-hide modal-win modal-form  modal-form-pole" )

		.row
			.col-12
				+e.pole-title Крутите барабан и получите свой приз!
			.col-auto
				+b.poleChudes
					+e.baraban
						+e.baraban-img
							+e.aniumante-block: img.res-i(src="img/baraban.png", alt="")
							+e.baraban-arrow
								img(src="img/arrow-pole.png", alt="")
					+e.block-result
						+e.block-result-btn ВАШ ПРИЗ
						+e.block-result-text 10% СКИДКА
			.col
				+e.body
					.strong.text-center Чтобы начать крутить барабан, заполните поля ниже
					+input('Имя','text','Введите имя')
					+input('Телефон','tel','+7 (___) ___-__-__')
					+polite
					+e.btn(type='submit') Крутить барабан!
					.small.text-primary.pt-4.text-secondary  Внимание!
						br
						| Барабан можно крутить только 1 раз
	// #modal-order
	.container
		a(href="#modal-gift").popup-with-move-anim modal-gift
	// modal