mixin s-banner()
	// start s-banner
	+b.s-banner.section.text-white
		.container
			.row
				.col-md-7.col-sm-6.align-self-center 
					h2.strong Подберите ворота под свои параметры
					.h6 Чтобы расчитать параметры ворот воспользуйтесь калькулятором
					+e.btn.btn.btn-primary(href="#") Онлайн-калькулятор
				.col
					img.lazy.res-i(src="#" data-src="img/banner.png" width="396" height="326", alt="")
			
				
	// end s-banner