mixin aside()
	// start aside
	+b.aside 
		+e.link--active(href="#") Гранти Групп
		
		+e.link(href="#") Миссия и ценности
		
		+e.link(href="#") Вакансии
		
		+e.link(href="#") Собственное производство
		
		+e.link(href="#") Отзывы
		
		+e.link(href="#") Сертификаты
		
	// end aside