.aside {
		 padding: 0;
	position: relative;
	z-index: 2;
	@include media-breakpoint-up(lg) {

		height: 100%;
		padding-bottom: 180px;
		&::before{
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 200vw;
			height: 100%;
			background-color: $light;
			z-index: -1;
			background-image: linear-gradient(to top, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 20%);
		}
	}
	&__link{
		color: $body-color;
		display: inline-block;
		padding: 10px 10px;
		@include media-breakpoint-up(lg) {

			display: block;
			padding: 15px 15px;
			margin-right: 10px;
			border-radius: 4px;
			margin-right: 0;
			&--active{
				
				background-color: #ffffff;
				box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
				text-decoration: none !important;
			}
			&--active,
			&:hover{
				color: $primary;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {
		&__link{
			display: inline-block;
			cursor: pointer;
			margin-bottom: 10px;
			margin-right: 5px;
			position: relative;
			text-decoration: none !important;
			@include mt;
			 
				text-align: center;
				border-radius: 4px;
				border: 2px solid #ffffff;
				background-color: #ebebeb;
				color: #707070;
				padding: rem(5) rem(15); 
			&__text:hover{
				// border: 2px solid $primary;
				// color: $body-color;
		// background-color: #ebebeb;
			}
			&--active,
			&:hover{
				border: 2px solid $primary;
				color: $body-color;
		background-color: #ebebeb;
		 
			}
		}
	}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}