extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/s-all-for-you/_s-all-for-you.pug
include ../blocks/s-stock/_s-stock.pug
include ../blocks/s-portfolio/_s-portfolio.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-banner/_s-banner.pug
include ../blocks/s-tabs/_s-tabs.pug
include ../blocks/aside/_aside.pug
include ../blocks/s-cards/_s-cards.pug

block title
	title Доставка

block pagecontent
	 
	//- +mob-mnu()
	+b.HEADER.header
		+top-line()
		+top-nav() 
		+b.header-block--page(style='background-image: url(img/shipping.jpg);')
			.container
				.row
					.col-md-6
						h1.strong  Доставка 
						ul
							li.strong Бесплатный замер
							li.strong Доставка собственным транспортом 
							li.strong Внимание к каждому клиенту

	.container
		+breadcrumb('Доставка','Главная')
		.row
			.col-lg-4.d-none.d-lg-block
				+aside
			.col-lg-8
				+b.s-content.pt-0.section
					p Компания "Гранти-Групп" осуществляет доставку и монтаж распашных ворот на всей  территории Москвы и Московской области.

					p Доставка осуществляется собственным корпоративным транспортном, поэтому нет  необходимости в дополнительном заказе грузчиков и грузового такси.
					
					p Стоимость доставки зависит от многих факторов, таких как: комплектация, размер  металлоконструкции, вес и место установки. 
						br
						| Поэтому стоимость доставки уточняйте у наших менеджеров по телефону 
						a.text-body.strong(href="tel:+7-495-101-34-40") +7-495-101-34-40
					img.lazy.res-i(src="#" data-src="img/map.png", alt="")
	+s-form(class="s-form--page")
		h2.pb-0 получите бесплатную консультацию
	+footer()

