include ../mixin-wrap/mixin-wrap.pug
mixin kart-body()
	// start kart-body
	+b.kart-body.section
		.container
			+b.tabs
				+e.caption
					+e.btn.active Характеристики
					+e.btn Гарантия
					+e.btn Доставка
					+e.btn  Описание
				+e.wrap

					+e.content.active
						.h2.strong.pb-2 Технические характеристики
						table.table.table-striped
							tr
								 
							mixin tr(t1,t2)
								tr
									td= t1
									td= t2
							+tr("Коробка","Труба профильная (50х25 мм)")
							+tr("Полотно","Труба профильная (40х25 мм)")
							+tr("Лист металла","Холоднокатанная сталь (2,2 см)")
							+tr("Жесткость","Труба профильная (40х25 мм)")
							+tr("Отделка снаружи","Порошковое напыление")
							+tr("Отделка внутри","Порошковое напыление")
							+tr("Задвижки","Вертикальные, 20 мм (2 шт.)")
							+tr("Тепло-шумоизоляция","URSA, ROCK WOL, пенопласт, базальтовая плита")
							+tr("Петли","Гаражные, 36 мм (2 шт.)")
							+tr("Угол открывания","180°")
							+tr("Размер","Цена указана при размере 2000х2500 мм, изготовление любого размера")
							+tr("Калитка","есть")
							+tr("Тип","Гаражные ворота")
							+tr("Подтип","Гаражные ворота с калиткой")
						 
						span 1 текст для демонстрации правильной работы блока
					- for (var x = 0; x < 3; x++)	
						+e.content
							.h2.strong.pb-2 Технические характеристики
							table.table.table-striped
								tr
									th Материал
									th Дерево
								mixin tr(t1,t2)
									tr
										td= t1
										td= t2
								+tr("Коробка","Труба профильная (50х25 мм)")
								+tr("Полотно","Труба профильная (40х25 мм)")
								+tr("Лист металла","Холоднокатанная сталь (2,2 см)")
								+tr("Жесткость","Труба профильная (40х25 мм)")
								+tr("Отделка снаружи","Порошковое напыление")
								+tr("Отделка внутри","Порошковое напыление")
								+tr("Задвижки","Вертикальные, 20 мм (2 шт.)")
								+tr("Тепло-шумоизоляция","URSA, ROCK WOL, пенопласт, базальтовая плита")
								+tr("Петли","Гаражные, 36 мм (2 шт.)")
								+tr("Угол открывания","180°")
								+tr("Размер","Цена указана при размере 2000х2500 мм, изготовление любого размера")
								+tr("Калитка","есть")
								+tr("Тип","Гаражные ворота")
								+tr("Подтип","Гаражные ворота с калиткой")
							span текст для демонстрации правильной работы блока
					
	// end kart-body