.kart-body{
	background-color: $light;
	.tabs {
		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}
		margin-top: 25px;
		margin-bottom: 25px;
		&__caption{
			// @include clearfix;
			margin-bottom: 20px;
			border-radius: 6px 6px 0 0;
			// border: 1px solid $secondary;
			position: relative;
			overflow: hidden;
			// max-width: 530px;
			max-width: 100%;
			display: flex;
			flex-wrap: wrap;
			
			// background-color: #ffffff;
		}
		&__btn{
			cursor: pointer;
			background-color: #fff;
			
			flex-grow: 1;
			@media only screen and (max-width :430px){
				// width: 165px;
				font-size: 12px;
				// max-width: 50%;
				
			}
			text-align: center; 
			font-weight: 700;
			padding-top: 18px;
			padding-bottom: 18px; 
			font-weight: bold;
			// margin: 0;
			margin-left: 0;
			margin-right: 0;
			@include mt;
			// background-color: $primary;
			background-color: #ffffff;
			border: none;
			border-radius: 0;
			&:not(:last-child){
				border-right: 1px solid #d7d7d7;
				margin-right: 0;
			} 
			box-shadow: none;
			&:hover,
			&.active{
				background-color: $secondary;
				color: #ffffff;
			}
			
		}
		&__wrap{
			padding: 15px 15px; 
			border: 1px solid #d7d7d7;
			background-color: #ffffff;
			table{
				max-width: 880px; 
				// border: 1px solid $secondary;
			}
			th,
			td{ 
				border: 1px solid #d7d7d7;
				&:first-child{
					font-weight: 700;
					width: 40%;
					border-right: none;
				}
				&:last-child{
					border-left: none;

				}
			}
		}
		
	}
}