mixin s-tabs()
	// start tabs
	+b.tabs--section
		.container
			.row
				.col-md-3
					+e.caption
						+e.btn.active 
							span Портфолио
						+e.btn 
							span Преимущества
						+e.btn 
							span Как заказать
						+e.btn 
							span Отзывы
						n
				.col-md-9
					+e.content.active
						+e.slider--1js.gal
							+e.slide
								+e.img-wrap.img-bg(href="img/port-1.jpg"): img.res-i(src="#" data-lazy="img/port-1.jpg", alt="")
							+e.slide
								+e.img-wrap.img-bg(href="img/port-2.jpg"): img.res-i(src="#" data-lazy="img/port-2.jpg", alt="")
							+e.slide
								+e.img-wrap.img-bg(href="img/port-2.jpg"): img.res-i(src="#" data-lazy="img/port-2.jpg", alt="")
					+e.content
						+e.slider--1js.gal
							+e.slide
								+e.img-wrap.img-bg(href="img/port-1.jpg"): img.res-i(src="#" data-lazy="img/port-1.jpg", alt="")
							+e.slide
								+e.img-wrap.img-bg(href="img/port-2.jpg"): img.res-i(src="#" data-lazy="img/port-2.jpg", alt="")
							+e.slide
								+e.img-wrap.img-bg(href="img/port-2.jpg"): img.res-i(src="#" data-lazy="img/port-2.jpg", alt="")
					+e.content
						+e.slider--1js.gal
							+e.slide
								+e.img-wrap.img-bg(href="img/port-1.jpg"): img.res-i(src="#" data-lazy="img/port-1.jpg", alt="")
							+e.slide
								+e.img-wrap.img-bg(href="img/port-2.jpg"): img.res-i(src="#" data-lazy="img/port-2.jpg", alt="")
							+e.slide
								+e.img-wrap.img-bg(href="img/port-2.jpg"): img.res-i(src="#" data-lazy="img/port-2.jpg", alt="")
					+e.content
						+e.slider--1js.gal
							+e.slide
								+e.img-wrap.img-bg(href="img/port-1.jpg"): img.res-i(src="#" data-lazy="img/port-1.jpg", alt="")
							+e.slide
								+e.img-wrap.img-bg(href="img/port-2.jpg"): img.res-i(src="#" data-lazy="img/port-2.jpg", alt="")
							+e.slide
								+e.img-wrap.img-bg(href="img/port-2.jpg"): img.res-i(src="#" data-lazy="img/port-2.jpg", alt="")
		
	+b.s-content.section
		.container 
			p.readmore-js На официальном сайте компании «Гранти» вы можете совершить заказ на металлические ворота в гараж напрямую от производителя. Обращаясь в нашу компанию вы можете быть уверенным, что не переплатите постредникам, так как представленная на сайте продукция изготовлена на нашем заводе в городе Серпухов. Завод существует с 1991 года, за это время было изготовлено и установлено более 1500 различных металлоконструкций. Такие факторы как  компании «Гранти» вы можете совершить заказ на металлические ворота в гараж напрямую от производителя. Обращаясь в нашу компанию вы можете быть уверенным, что не переплатите постредникам, так как представленная на сайте продукция изготовлена на нашем заводе в городе Серпухов. Завод существует с 1991 года, за это время было изготовлено и установлено более 1500 различных металлоконструкций. Такие факторы как 
	// end tabs