.s-form {
	background-color: $light;
	h2{
		&::before{
			display: none;
		}
	}
	.form-wrap{
		margin-left: auto;
		margin-right: auto;
		max-width: 700px;
		&__input-wrap{
			margin-left: auto;
			margin-right: auto;
			max-width: 520px;
		}
		&__btn{
			box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
			margin-top: 20px;
		}
	}
	&--page .container{
		position: relative;
		@include media-breakpoint-up(xl) {

			padding-bottom: 90px;
			&::after{
				content: url(../img/before.png);
				display: block;
				position: absolute;
				bottom: -6px;
				left: 80%;
			}
		}
	}

 
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}