.s-content {
	&__btn{
		width: 160px;
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}


.cls-1{fill:#e2e2e2;}.cls-2{fill:#fff;}.cls-3,.cls-5{fill:none;stroke-width:0.75px;}.cls-3{stroke:#383838;stroke-linecap:round;stroke-linejoin:round;}.cls-4{fill:#92cd8b;}.cls-5{stroke:#00a651;} 
.map-block{
	margin-left: auto;
	margin-right: auto;
	max-width: 825px;
	// position: relative;
	.mark-wrap{
		position: relative;
		pointer-events: none;
	}
	.map-div{
		position: absolute;
		width: 12px;
		height: 12px;
		border: 3px solid $primary;
		background-color: #ffffff;
		position: absolute;
		z-index: 10;
		border-radius: 50%;
		top: 0;
		left: 0;
		will-change: transform;
		margin-left: 4%;
		margin-top: 5%;
		&::before{
			content: url("../img/flag.png");
			position: absolute;
			bottom: calc(100% - 10px);
			// margin-top: 20px;
			left: 2px;
			opacity: 0;
		}
		&.active{
			&::before{

				opacity: 1;
			}
		}
		&--1{
		}
		&--5{
			// left: 10%;
			// top: 5%;
			// tra
			margin-top: 5%;
			margin-left: 10%;
		}
		
		&--4{
			// left: 10%;
			// top: 5%;
			// tra
			margin-top: 7%;
			margin-left: 10%;
		}
		
		&--6{
			// left: 10%;
			// top: 5%;
			margin-top: 8%;
			margin-left:5%;
		}
		
		&--8{
			// left: 10%;
			// top: 5%;
			margin-top: 8%;
			margin-left:5%;
		}
		
		&--9{
			// left: 10%;
			// top: 5%;
			margin-top: 8%;
			margin-left:5%;
		}
		
		&--14{
			// left: 10%;
			// top: 5%;
			margin-top: 5%;
			margin-left:8%;
		}
		
		&--16{
			// left: 10%;
			// top: 5%;
			margin-top: 4%;
			margin-left:5%;
		}
		
		&--19{
			// left: 10%;
			// top: 5%;
			margin-top: 7%;
			margin-left:7%;
		}
		
		&--23{
			// left: 10%;
			// top: 5%;
			margin-top: 7%;
			margin-left:7%;
		}
		
		&--24{
			// left: 10%;
			// top: 5%;
			margin-top: 5%;
			margin-left:5%;
		}
		
		&--27{
			// left: 10%;
			// top: 5%;
			margin-top: 9%;
			margin-left:5%;
		}
		
		&--30{
			// left: 10%;
			// top: 5%;
			margin-top: 4%;
			margin-left:7%;
		}
		
		&--31{
			// left: 10%;
			// top: 5%;
			margin-top: 4%;
			margin-left:7%;
		}
		
		&--33{
			// left: 10%;
			// top: 5%;
			margin-top: 2%;
			margin-left:3%;
		}
		
		&--34{
			// left: 10%;
			// top: 5%;
			margin-top: 1%;
			margin-left:1%;
		}
		
		&--36{
			// left: 10%;
			// top: 5%;
			margin-top: 1%;
			// margin-left:3%;
		}
		
		&--37{
			// left: 10%;
			// top: 5%;
			margin-top: 6%;
			margin-left:15%;
		}
		
		&--43{
			// left: 10%;
			// top: 5%;
			margin-top: 3%;
			margin-left:3%;
		}
		
		&--45{
			// left: 10%;
			// top: 5%;
			margin-top: 1%;
			margin-left:0%;
		}
		
		&--10{
			// left: 10%;
			// top: 5%;
			margin-top: 10%;
			margin-left: 7%;
		}

	}
	[data-toggle="popover"]{
		// position: relative;
		div{
		}
	}
}
		.path{
			
			fill:#fff;
			@include mt;
		 
			
		}
		.main-path{
			// position: relative;
			z-index: -1;
		}


		.map-block {
				// position: relative;
			.fade.show{
				opacity: 1;
			}
		}
		.popover-toggle{
			position: relative;
		 
			.path{
				cursor: pointer;
			}
			&.active,
			&:hover{
				.path{

					fill:#e2e2e2;
				}
			}
			circle{
				position: absolute;
				@include a-cent;
			}
	 
			.active{
				path{
					fill:#e2e2e2;
				}
			}
		}

		.popover-body{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 12px;
			padding-bottom: 10px;
			.row{
				align-items: center;
			}
			img{
				max-width: 25px;
			}
		}
		.popover-text{
			padding-top: 10px;
		}

		.bs-popover-auto[x-placement^=right], .bs-popover-right {
			margin-left: 0;
		}