.s-contact {

	&__item{
		padding-bottom: 13px;
	}
	&__group{
		// padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #d7d7d7;
	}


	&__map-wrap{
		position: relative;
		height: calc(100% - 20px);
		min-height: 344px;
		> * {
			position: absolute;
			left: 0;
			top: 0;	
			width: 100% !important;
			height: 100% !important;
		}
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}